<div class="bg-container height-unset">
  <app-page-title pageTitle="Manage apps" buttonText="Create app"
                  (buttonClick)="router.navigate(['/app/create'])"></app-page-title>
</div>
<div class="container">
  <div class="my-3">
    <oc-chart [chartData]="chartData"
              minDropdownWidth="auto"
              [count]="count"
              [countText]="countText"
              [downloadUrl]="downloadUrl"
              (changeChartOptions)="updateChartData($event)">
    </oc-chart>
  </div>
  <div class="pb-2">
    <oc-app-table noAppMessage="No Apps Found"
                  [properties]="appListConfig"
                  menuUrl="../../../../assets/img/dots-hr-icon.svg"
                  defaultAppIcon="../../../../assets/img/app-icon1.svg"
                  descendingSortIcon="../../../../assets/img/dropdown-icon.svg"
                  ascendingSortIcon="../../../../assets/img/dropdown-active.svg"
                  (pageScrolled)="getApps(false)"
                  (menuClicked)="catchMenuAction($event)"
                  (sortChosen)="changeSorting($event)"></oc-app-table>
  </div>
</div>
