
    <div class="controls" appDragDrop (onFileDropped)="fileDropped(fileInput,$event)">
        <div
          id="upload-attorney_document"
          class="customized dropzone"
          (click)="fileInput.click()"	
          *ngIf="!disabled"
          >
          <div class="dz-default dz-message">
            <!-- <input type="file" (change)="uploadFile($event.target.files)" #file style="display: none;"> -->
            <div class="temp">
                <span>Drag and drop to upload<br />  <span class="or">or</span></span>
            </div>
            <div class="temp-1">
                <button	  
                type="button"
                class="btn btn-primary upload-btn dz-clickable" [disabled]="uploadInProcess || disabled">
                <i class="fas fa-cloud-upload"></i>
                <span>{{btnLable}}</span
                ></button
              >
            </div>
          </div>
          <input
            hidden
            type="file"
            class="form-control"
            name="attorney_document"
            value=""
            accept= "{{imageOnly ? 'image/x-png,image/gif,image/jpeg' : ''}}"
            id="attorney-document"
            #fileInput 
            [disabled]="disabled"
            (change)="uploadFile(fileInput,$event.target.files)">
        </div>
        
        <!-- <oc-error [control]="fileControl"></oc-error> -->
        <span *ngIf="invalidFileDroppedError">
            <span id="glypcnemail" class="glyphicon glyphicon-remove form-control-feedback validerrors">
              <i class="fas fa-exclamation-circle"></i> {{invalidFileDroppedError}}
            </span>
        </span>    

        <div *ngIf="isMultiFile === 'false'; else multiFIle">
            <div *ngIf="fileDetail && fileDetail.fileName">
                <div class="form-control-feedback"  *ngIf="uploadInProcess;else elseUpload">
                    <div class="controls upload-progress mt-2">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/assets/img/icon-doc.svg" alt="philips-icn" />
                            </div>
                            <div class="col" >
                                    <div class="">
                                    {{fileDetail.fileName }}
                                    </div>
                                <div class="progress">
                                    <div
                                        [ngClass]="fileDetail.uploadProgress == 100 ? 'completed-progress-bar' : 'progress-bar'"
                                        role="progressbar"
                                        aria-valuenow="[fileDetail.uploadProgress]"
                                        [style.width.%]="[fileDetail.uploadProgress]"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    ></div>
                                </div>
                                <a class="delete-file  cursor-pointer" (click)="removeAttachment()">
                                    <i class="fas fa-times-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>		
                </div>
                <ng-template #elseUpload>
                    <div  class="controls verification-download  mt-2">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/assets/img/icon-doc.svg" alt="philips-icn" />
                            </div>
                            <div class="col-auto">
                                <div class="text-primary">
                                    <a *ngIf="isDownloadable === 'true'" (click)="downloadUploadedFiles(fileDetail.fileId)"> {{ fileDetail.fileName }}  </a>
                                    <span *ngIf="isDownloadable !== 'true'"> {{ fileDetail.fileName }}  </span>                                    
                                </div>
                                <div class="file-size">
                                    {{fileDetail.size | fileSize}} - {{ fileDetail.uploadDate | date: 'dd MMM yyyy' }}
                                </div>
                            </div>
                            <div class="col text-right">
                                    <a *ngIf="isDownloadable === 'true'" class="cursor-pointer"  (click)="downloadUploadedFiles(fileDetail.fileId);" title="Download">
                                        <img src="/assets/img/icon-download.svg" alt="philips-icn" />
                                    </a>
                                    <a *ngIf="!disabled"
                                        (click)="removeAttachment()" class="ml-2 cursor-pointer" title="Delete" 
                                    >
                                        <i class="far fa-trash-alt" style="vertical-align: bottom;padding-top: 8px;" ></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>   
        </div>

      <ng-template #multiFIle>
            <div
            class="form-control-feedback"
            *ngFor="let appImage of fileDetail;
                let idx = index">
            <div class="form-control-feedback"  *ngIf="uploadInProcess && appImage.uploadProgress &lt; 100; else elseUpload">
                <div class="controls upload-progress mt-2">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icon-doc.svg" alt="philips-icn" />
                        </div>
                        <div class="col" >
                            <div class="">
                                {{appImage.fileName }}
                                </div>
                            <div class="progress">
                                <div
                                    [ngClass]="appImage.uploadProgress == 100 ? 'completed-progress-bar' : 'progress-bar'"
                                    role="progressbar"
                                    aria-valuenow="[appImage.uploadProgress]"
                                    [style.width.%]="[appImage.uploadProgress]"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                ></div>
                            </div>
                            <a class="delete-file  cursor-pointer" (click)="deleteFromMultiFile(idx)">
                                <i class="fas fa-times-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>		
            </div>
            <ng-template #elseUpload>
                <div  class="controls verification-download  mt-2">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icon-doc.svg" alt="philips-icn" />
                        </div>
                        <div class="col-auto">
                            <div class="text-primary">
                                <a (click)="downloadFile(appImage)"> {{ appImage.fileName }}  </a>                                                                    
                            </div>
                            <div class="file-size">
                                {{appImage.size | fileSize}} - {{ appImage.uploadDate | date: 'dd MMM yyyy' }}
                            </div>
                        </div>
                        <div class="col text-right">
                                <a class="cursor-pointer"  (click)="downloadFile(appImage)" title="Download">
                                    <img src="/assets/img/icon-download.svg" alt="philips-icn" />
                                </a>
                                <a *ngIf="!disabled"
                                (click)="deleteFromMultiFile( idx)" class="ml-2 cursor-pointer" title="Delete" 
                                    >
                                    <i class="far fa-trash-alt" style="vertical-align: bottom;padding-top: 8px;" ></i>
                                    </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
</div>



