:host body{
    background-color: #000;
}
#content {
    padding: 20px 0 15px 30px;
}
.my-applications{
  background-image: linear-gradient(to right, #fff , #fafbfd);
}
.container-grey {
  background-color: #fafbfd;
  .nav-pills.dropdown-right {
    float: right;
    padding-right: 6px;
  }
  .card.list-card {
    height: 132px;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 16px;
    padding: 12px 12px 13px 0;
    flex-direction: inherit;
    .dropdown-item{
      padding-right: 12px;
      padding-left: 12px;
      height: 40px;      
      &.external-link{
        background-image: url(/assets/img/icon-link-external.svg);
        background-repeat: no-repeat;
        background-position: right 14px top 7px;      
        padding-right: 48px;
        
      }      
    }

    .card-logo {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 132px;
      min-width: 132px;
      min-height: 107px;
      margin-right: 14px;
      border-right: 1px solid #e8e8e8;
      img {
        max-width: 98px;
      }
    }
    .card-detail {
      text-align: left;
      padding-left: 0;
      min-width: 440px;
      max-width: 440px;
      h5 {
        font-family: "CentraleSans-500";
        font-size: 16px;
        color: #212121;
        margin-bottom: 5px;
        margin-top: 3px;
      }
      .status-detail {
        font-size: 14px;
        color: rgba(33, 33, 33, 0.8);
        display: block;
        min-height: 22px;
        margin-bottom: 8px;
      }
      .summary-text {
        color: #8d8e8f;
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
        height: 22px;
      }
      .email {
        font-size: 16px;
        color: #212121;
      }
      .more-link {
        font-size: 16px;
        color: #1474a4 !important;
      }
    }

    .version-info{
      font-size: 16px;
        font-family: "CentraleSans-300";
        color: #212121;
    }

    .status-info {
      display: flex;
      align-items: center;
      min-height: 107px;
      margin-right: 2px;
      margin-left: 30px;
      max-width: 242px;
      min-width: 242px;
      .status.pending {
        color: #e65c05 !important;
        font-family: "CentraleSans-500";
        font-size: 16px;
      }
      .status.request {
        color: #212121;
        font-size: 16px;
      }
      .status.default {
        color: #212121;
        font-size: 16px;
      }
      .status.active{
        color: rgba(33, 33, 33, 0.8);
        font-size: 16px;
        //padding-left: 32px;
      }
      // .status.active::before {
      //   content: "";
      //   background-image: url(/assets/img/icon-active.svg);
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   width: 20px;
      //   height: 20px;
      //   position: absolute;
      //   margin-left: -32px;
      // }
    }
    .app-action{
      display: flex;
      align-items: center;
      min-height: 107px;
      min-width: 142px;
      max-width: 142px;
      justify-content: flex-end;

      .btn.btn-primary{
        min-width: 148px;
      } 
    }
    .ellipsis{
      margin-top: -4px;
      margin-left: -8px;
      width: 16px;
    }
    .card-action {
      text-align: right;
      padding-right: 90px;
    }
  }
  .card.list-card.expanded{
    height: auto;
    .card-logo{
      .arrow{
        position: absolute;
        left: 16px;
        transform: rotate(90deg);
      }
      
    }
    .add-on-label{
      padding: 0 10px;
      max-width: 216px;
      min-width: 216px;
      min-height: 107px;
      text-align: right;
      span{
        font-size: 12px;
        line-height: 1.67;
        color: #1474a4;
        background-color: #1474a4;
        padding: 4px 10px;
        border-radius: 2px;
  background-color: #f0f8fa;
      }
    }
    .col-md-12.hr{
      border-top: 1px solid #f0f8fa;
      max-width: 872px;
    margin: 10px 0 12px 132px;
    }
    .card-detail.detail-sm{
      min-width: 370px;
    max-width: 370px;
    }
  }
  .list-heading{
    color: rgba(33, 33, 33, 0.5);
    font-size: 14px;
    margin: 16px 16px 20px 16px;
  }
  .card.header-card{
    width: 330px;
    height: 100px;
    border-radius: 2px;
  border: solid 1px rgba(27, 87, 142, 0.1);
  background-color: #ffffff;
  padding: 32px 20px 32px 24px;
  margin-right: 16px;
  margin-bottom: 20px;
  .tab-icon{
    padding-right: 34px;
    padding-top: 6px;
  }
  .tab-title{
    color: #212121;
        font-family: "CentraleSans-500";
        font-size: 16px;
        padding-left: 0;
        padding-top: 6px;
  }
  .tab-counter{
    color: #1b578e;
        font-family: "CentraleSans-300";
        font-size: 32px;
        padding-left: 0;
        line-height: 1.13;
  }
  img{
    width: 28px;
  }
  }
}

.app-empty{
    text-align: center;
    clear: both;
    padding-top: 70px;
    
    .bg-shadow{
      background: url(/assets/img/empty_bg.svg) no-repeat;
      background-position: top;
      padding-top: 48px;
      margin-top: 4px;
      border-top: rgba(33, 33, 33, 0.1);
      width: 200px;
      margin:auto;
      border-top: 1px solid rgba(33, 33, 33, 0.1);
      margin-top: 4px;
    }
    h4{
        font-size: 20px;
        color: #329ed2;
        font-family: "CentraleSans-500";
        margin-bottom: 20px;
     
    }
    a{        
        font-size: 16px;
        color: #1474a4 !important; 
    }

    
}
.fa-ellipsis-h::after{
  display: none;
}

.icon-color {
  width: 16px;
  height: 16px;
  opacity: 0.8;  
}
