<div class="header-divider"></div>
<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <img src="https://drive.google.com/u/0/uc?id=1PBgcSG6CTGQiZD13s7feI_Dhup5viFNM&export=download"
                alt="arrow-icon">
            <a href="#" class="font-m font-med pl-1">Back to App Store</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto pr-4">
            <oc-select-expandable></oc-select-expandable>
        </div>
        <div class="col-md pl-0">
            <div class="row">
                <div class="col-md-12">
                    <oc-text-searh></oc-text-searh>
                </div>
                <div class="col-md pt-4 pb-3">
                    <span class="text-secondary font-l">4 results for “Plugin”</span>
                </div>
                <div class="col-md-auto pt-4 pb-3">
                    <a href="#" class="font-m font-med">Sort by name<img
                            src="https://drive.google.com/u/0/uc?id=1lm5jDDCn_tSt0zQV-784GqxVV0hpCBGM&export=download"
                            class="pl-1" alt="icon"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <oc-app-list-grid></oc-app-list-grid>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-container bg-s mt-8 py-8">
    <div class="container">
        <oc-app-get-started></oc-app-get-started>
    </div>
</div>