<div class="bg-container bg-s pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <img src="https://drive.google.com/u/0/uc?id=1PBgcSG6CTGQiZD13s7feI_Dhup5viFNM&export=download"
                    alt="arrow-icon">
                <a href="#" class="font-m font-med pl-1">Back to App Store</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-auto">
                <img src="https://drive.google.com/u/0/uc?id=1vDDzbS--o_UIgXFE_LmMfVmSAKuprCyb&export=download"
                    width="255" height="255" alt="app-icon">
            </div>
            <div class="col-md">
                <h4 class="mb-2">Application</h4>
                <a href="#" class="font-med">$11.99</a>
                <p class="text-secondary mt-2">Collaborate with teammates anytime, anywhere.</p>
                <oc-rating></oc-rating>
                <oc-button></oc-button>
            </div>
        </div>
    </div>
</div>