<div class="container p-3 ">
    <!--    title with tabs -->
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <h3 class="ml-3 flex-fill">
            <span class="mr-1 font-med ">{{currentTab?.display}} Apps</span>
            <span class="font-s color-light-gray text-truncate" *ngIf="this.currentApps?.length > 0">{{getTotalResultMessage()}}</span>
        </h3>
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="m-auto tab " *ngFor="let tab of tabs">
                <span *ngIf="tab.id === currentTab.id" class="ml-1 tab cursor-pointer current-tab color-green text-uppercase"
                      (click)="setNewApp(tab.id)">
                    {{tab.display}}</span>
                <span *ngIf="tab.id !== currentTab.id" class="ml-1 tab cursor-pointer text-uppercase"
                      (click)="setNewApp(tab.id)">
                    {{tab.display}}</span>
            </div>
        </div>
    </div>
    <!--    search  -->
    <hr class="m-0 mt-1">
    <div class="d-flex flex-row flex-nowrap align-items-center">
        <img class="ml-2 search-icon" src="assets/img/search-icon.svg" alt="search-icon">
        <input class="form-control border-0 pl-1"
               [formControl]="searchTextControl"
               placeholder="Search..."
               type="text"
               autocomplete="off"
        />
        <h6 class="m-auto text-right color-gray advanced-search-title text-nowrap cursor-pointer pr-2">Advanced Search</h6>
    </div>
    <hr class="m-0 mb-3">
    <!--    apps list -->
    <div class="ml-2 mr-2 flex-column" *ngFor="let app of currentApps; let i = index">
        <hr *ngIf="i !== 0">
        <div class="d-flex flex-row justify-content-between">
            <section class="d-flex flex-row flex-wrap align-items-center list-app-title">
                <div class="mr-2 d-flex justify-content-center align-items-center font-med
                     text-uppercase cursor-pointer app-icon {{getBackgroundColor(app.status)}}">
                    {{app.name.charAt(0)}}
                </div>
                <div class="d-flex flex-column justify-content-between pt-1 pb-1">
                    <h6 class="cursor-pointer">{{app.name}}</h6>
                    <div class="d-flex flex-row flex-wrap justify-content-start font-weight-normal app-status color-gray">
                        <div class="d-flex flex-row flex-nowrap align-items-center cursor-pointer">
                            <div class="mr-1 sphere-marker {{getBackgroundColor(app.status)}}"></div>
                            <div class="mr-2">{{getStatusMessage(app.status)}}</div>
                        </div>
                        <div class="text-nowrap">Ver. {{app.version}}</div>
                    </div>
                </div>
            </section>
            <section class="functional-menu-container">
                <div class="cursor-pointer text-secondary toggle-box" (click)="showDropdownMenuByIndx(app.appId)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                </div>
                <div class="functional-menu d-flex flex-column card" *ngIf="displayMenuIndx === app.appId">
                    <button class="functional-menu-item row flex-nowrap align-items-center" [routerLink]="['/app-list/edit-app', app.appId, 'version', app.version]">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                        <span class="ml-1">
                            Edit
                        </span>
                    </button>
                    <button class="functional-menu-item row flex-nowrap align-items-center" (click)="deleteSelectedApp(app)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <span class="ml-1">
                            Delete
                        </span>
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
