@import "~oc-ng-common-component/assets/styles/theme.scss";
@import "bootstrap";
.tab {
  color: $gray-700;
}
.tab:hover {
  color: #009957 !important;
}

.color-gray {
  color: $secondary
}

.color-green {
  color: #009957;
}

.back-color-green {
  background-color: #009957;
}

.back-color-blue {
  background-color: $primary;
}

.back-color-purple {
  background-color: $purple;
}

.back-color-yellow {
  background-color: $yellow;
}

.back-color-red {
  background-color: $red;
}

.color-light-gray {
  color: $gray-500;
}

.search-icon {
  max-width: 16px;
  max-height: 16px;
}

.advanced-search-title:hover {
  color: $gray-800;
}

.list-app-title {
  .app-icon {
    font-size: 24px;
    height: 54px;
    width: 54px;
    min-width: 54px;
    color: $light;
    border-radius: 10%;
  }
  .sphere-marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

.functional-menu-container {
  position: relative;
  .toggle-box {
    width: 1.3rem;
  }
  .functional-menu {
    @extend .d-flex;
    @extend .flex-column;
    @extend .card;
    padding: .5rem 0;
    position: absolute;
    top: 0;
    left: -6.3rem;
    &-item {
      border: none;
      background-color: transparent;
      color: lighten($body-color, 10%);
      margin: 0 0 .5rem;
      @extend .row;
      @extend .flex-nowrap;
      @extend .align-items-center;
      &:hover {
        color: $primary;
      }
    }
  }
}
