@import '~@openchannel/angular-common-components/assets/styles/theme';
@import '~@openchannel/angular-common-components/assets/styles/mixins';
@import '~assets/styles/mixins';

.footer {
    font-family: 'Metric';
    font-weight: 400;
    margin-top: 40px;

    .container {
        background: #f7f7f7;
        @include media-breakpoint-sm {
            padding: 0;
        }

        .bottom-info {
            padding: 20px;
            color: #425966;
            font-size: 14px;
            margin: 0;

            &__link {
                color: inherit;
                font-size: inherit;
                transition: color .3s ease;

                &:hover {
                    color: #d47300;
                }
            }
        }
    }
}
