.active-link{
    color: #537cfd !important;
}

.profile-menu{
    color: black;
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 500; 
    font-stretch: normal;
    font-style: normal;
}