<div class="bg-container bg-s ">
    <div class="container header-padding">
        <img src="assets/img/arrow-left.svg" alt="arrow-icon">
        <a routerLink="/manage" class="font-m font-med pl-1">Back to Manage Apps</a>
        <h3 class="mt-1">{{pageTitle}}</h3>
    </div>
</div>
<div class="container container-m mt-5">
    <div class="my-5" *ngIf="pageType === 'update'">
        <oc-chart
                [chartData]="chartData"
                [updateChartDataFunc]="updateChartData"
                minDropdownWidth="auto"
                [count]="count"
                [countText]="countText"
                [downloadUrl]="downloadUrl">
        </oc-chart>
    </div>
    <form [formGroup]="appTypeFormGroup">
        <div class="d-flex flex-column flex-md-row align-items-md-center mb-2">
            <oc-label text="Choose your app type" required="true" class="text-nowrap col-md-3 mr-1 mb-1 mb-md-0 pl-0"></oc-label>
            <div class="d-flex flex-column w-100">
                <oc-select formControlName="type"
                           labelField="label"
                           [selectValArr]="currentAppsTypesItems"
                            class="w-100">
                </oc-select>
                <oc-error [control]="appTypeFormGroup.get('appType')"></oc-error>
            </div>
        </div>
    </form>
    <div *ngIf="appFields?.fields">
        <oc-form [formJsonData]="appFields"
                 (formDataUpdated)="getAppFormData($event)"
                 (createdForm)="setGeneratedForm($event)"
                 labelPosition="left"
                 [showButton]="false">
        </oc-form>
        <div class="d-flex flex-column flex-md-row align-items-md-center form-buttons">
            <div class="col-md-3 mr-2 pl-0 mb-md-0"></div>
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="form-btn">
                    <oc-button type="secondary" text="Cancel" class="w-100" routerLink="/manage"></oc-button>
                </div>
                <div class="form-btn" *ngIf="!hasPageAndAppStatus('update', 'pending')">
                    <oc-button type="secondary" text="Save" class="w-100"
                               [process]="draftSaveInProcess"
                               (click)="saveApp('draft')"></oc-button>
                </div>
                <div class="form-btn">
                    <oc-button type="primary" text="Submit" class="w-100"
                               [process]="submitInProcess"
                               (click)="openConfirmationModal()"></oc-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
