@import '~@openchannel/angular-common-components/assets/styles/mixins';

.bg-s {
    min-height: auto;
}

.main-container {
    width: 1200px;
    @include media-breakpoint-xl {
        width: 950px;
    }
    @include media-breakpoint-sm {
        width: auto;
    }
}
