@import '~oc-ng-common-component/assets/styles/mixins';

.bg-s {
  min-height: auto;
}

.main-container {
  width: 950px;
  @include media-breakpoint-sm {
    width: auto;
  }
  .video-box {
    width: 167px;
    border-radius: 4px;
    margin-top: 8px;
  }

  .navigation-h1 {
    font-size: 1.7rem;
  }

  &_options {
    display: flex;
    flex-direction: row;
    margin: 40px 0 80px 0;
    &_empty {
      flex: 0 0 25%;
    }
    &_buttons {
      display: flex;
      flex-direction: row;
      flex: 0 0 75%;
      padding-left: 8px;
      oc-button {
        margin: 0 auto;
      }
      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
    @include media-breakpoint-lg {
      margin: 32px 0 64px 0;
    }
    @include media-breakpoint-md {
      &_empty {
        display: none;
      }
      &_buttons {
        flex: 0 0 100%;
        padding-left: 0;
      }
    }
    @include media-breakpoint-sm {
      margin: 24px 0 40px 0;
      &_buttons {
        flex-direction: column;
        oc-button {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }
  }
}
