.error-404 {
  min-height: calc(100vh - 238px); // - footer
  .page-title {
    font-size: 55px;
    color: #1a478a;
    font-family: "CentraleSans-Bold";
    margin-top: 130px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 34px;
    color: #1a478a;
    margin-bottom: 46px;
  }
  a.back-link {
    color: #0097c4 !important;
    font-size: 16px;
    img {
      margin-bottom: 2px;
      margin-right: 12px;
      transform: rotate(-180deg);
    }
  }
  .error-img {
    width: 220px;
    margin-top: 184px;
  }
}
hr {
  height: 2px;
  background-color: rgba(23, 100, 152, 0.1);
  margin-top: 50px;
}

// Media Query - max-width: 767px Start
@media (max-width: 767px) {
  .error-404 {
    .page-title {
      margin-top: 20px;
    }
  }
  hr {
    margin-bottom: 50px;
  }
}

