<div class="bg-container bg-s py-2">
    <div class="container">
        <img src="assets/img/arrow-left.svg" alt="arrow-icon">
        <a routerLink="/app-developer" class="font-m font-med pl-1">Back to Manage Apps</a>
        <h1 class="navigation-h1 mt-1">{{pageTitle}}</h1>
    </div>
</div>
<div class="container container-s mt-3">
    <form [formGroup]="appDataFormGroup">
        <div class="d-flex flex-column flex-md-row align-items-start mb-2" *ngIf="pageType === 'app-new'">
            <oc-label text="App type" required="true" class="text-nowrap form-label mr-2 mb-1 mb-md-0"></oc-label>
            <div class="d-flex flex-column w-100">
                <oc-dropbox formControlName="type"
                            placeHolder="Choice type"
                            customClassStyle="form-control"
                            [clearFormAfterSelect]="false"
                            [dropElementTemplate]="defaultDropElementTemplate"
                            [items]="currentAppsTypesItems"
                            class="w-100">
                </oc-dropbox>
                <oc-error [control]="appDataFormGroup.get('appType')"></oc-error>
            </div>
        </div>
        <ng-container *ngIf="pageType === 'edit-app'">
            <div class="d-flex flex-row align-items-start" >
                <oc-label text="Name" required="true" class="text-nowrap mr-1 w-25"></oc-label>
                <div class="d-flex flex-column w-100">
                    <oc-input formControlName="name"
                              [class]="'form-control'"></oc-input>
                    <oc-error [control]="appDataFormGroup.get('name')"></oc-error>
                </div>
            </div>
            <div class="d-flex flex-row align-items-start" >
                <oc-label text="Safe Name" required="true" class="text-nowrap mr-1 w-25"></oc-label>
                <div class="d-flex flex-column w-100">
                    <oc-tags formControlName="safeName"
                             title=" "
                             minTagsCount="1"></oc-tags>
                    <oc-error [control]="appDataFormGroup.get('safeNames')"></oc-error>
                </div>
            </div>
        </ng-container>
    </form>
    <div *ngIf="appFields?.fields">
        <oc-form [formJsonData]="appFields"
                 (formDataUpdated)="getAppFormData($event)"
                 labelPosition="left"
                 [showButton]="false"
                 (isFormInvalid)="getAppFormStatus($event)">
        </oc-form>
        <div class="d-flex flex-column-reverse flex-md-row justify-content-between mb-5 mt-2">
            <div class="form-btn">
                <oc-button type="link" text="Cancel" class="w-100 text-center"
                           routerLink="/app-developer"></oc-button>
            </div>
            <div class="form-btn">
                <oc-button type="secondary" text="Save and Exit" class="w-100"
                           [disabled]="appDataFormGroup.invalid || lockSubmitButton"></oc-button>
            </div>
            <div class="form-btn">
                <oc-button type="primary" text="Submit" class="w-100"
                           [disabled]="appDataFormGroup.invalid || lockSubmitButton" (click)="openConfirmationModal()"></oc-button>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<ng-template #defaultDropElementTemplate let-result="result">
    <div class="d-flex flex-row flex-nowrap align-items-center dropdown-show-app max-height p-2 ">
        <div class="custom-text">{{result}}</div>
    </div>
</ng-template>
