.add-category {
  padding: 12px 24px;
  border: 1px solid #c9d5ea;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-family: "Rubik-Medium";
}
.video-box {
  width: 167px;
  border-radius: 4px;
  margin-top: 8px;
}