<div class="bg-container">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-9">
        <h1 class="mb-0">Manage Apps</h1>
      </div>
      <a class="col-md" routerLink="/app-new">
        <oc-button text="Submit New App" type="primary" class="btn-block">
        </oc-button>
      </a>
    </div>
    <div class="my-3">
      <oc-chart
          [chartData]="chartData"
          [updateChartDataFunc]="updateChartData"
          minDropdownWidth="9rem"
          [count]="count"
          [countText]="countText"
          [downloadUrl]="downloadUrl"
          [random]="random">
      </oc-chart>
    </div>
    <div class="pb-1">
      <div class="pb-1">
        <oc-menu-grid noAppMessage="No Apps Found"
                      [properties]="appListConfig"
                      menuUrl="../../../../assets/img/dots-hr-icon.svg"
                      defaultAppIcon="../../../../assets/img/app-icon1 (2).svg"
                      sortIcon="../../../../assets/img/dropdown-icon.svg"
                      (pageScrolled)="getApps($event)"
                      (menuClicked)="catchMenuAction($event)"></oc-menu-grid>
      </div>
    </div>
  </div>
</div>
