<div class="bg-container">
    <div class="container">
        <div class="row py-5">
            <div class="col-md">
                <h1>Manage Apps</h1>
            </div>
            <div class="col-md-auto" (click)="newApp()">
                <oc-button text="Submit New App" type="primary">
                </oc-button>
            </div>
        </div>

        <div class="row app-manage-card">
            <div class="col-md-9 px-0 mr-3">
                <div class="time-selection" [ngClass]="{
                    active: period === 'month'
                  }">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="month" value="month" name="name"
                            [(ngModel)]="period" (ngModelChange)="getChartStatistics()">
                        <label class="custom-control-label" for="month">Month</label>
                    </div>
                </div>
                <div class="time-selection" [ngClass]="{
                    active: period ==='day'
                  }">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="day" value="day" name="name"
                            [(ngModel)]="period" (ngModelChange)="getChartStatistics()">
                        <label class="custom-control-label" for="day">Day</label>
                    </div>

                </div>

            </div>
            <div class="col-md px-0">
            <!-- <div class="time-selection active"> -->
            <oc-select [selectValArr]="fields" [(value)]="selectedChartField" (valueChange)="getChartStatistics()">
            </oc-select>
            <!-- </div> -->
            </div>
        </div>

        <div class="my-3" *ngIf="!isChartProcessing">
            <oc-chart [labels]="labels" [dataSets]="dataSets" [count]="count" [downloadUrl]="downloadUrl"></oc-chart>
        </div>

        <div class="pb-1" *ngIf="!isAppProcessing">
            <oc-menu-grid [appList]="applications"></oc-menu-grid>
        </div>

    </div>

</div>