<div class="col-md-12">
    <form novalidate #changePasswordform="ngForm">
        <div class="row form-group mt-5">
            <oc-label text="Current Password" class="col-md-12 label-m pl-0"></oc-label>
            <oc-password name="currentPassword" class="col-md-12 pl-0"
            #currentPassword="ngModel" 
            [(ngModel)]="changePassModel.password"   
            ngDefaultControl
            required="required"></oc-password>
            <oc-error [control]="currentPassword"> </oc-error>
        </div>
        <div class="row form-group mt-5 pr-2">
            <oc-label text="New Password" class="col-md-12 label-m pl-0"></oc-label>
            <input type="password"  name="newPassword" class="form-control  col-md-12 pl-0"
            #newPassword="ngModel" 
            [(ngModel)]="changePassModel.newPassword"   
            ngDefaultControl
            required="required">
            <oc-error [control]="newPassword"> </oc-error>
        </div>
        <div class="row form-group mt-5 pr-2">
            <oc-label text="Confirm Password" class="col-md-12 label-m pl-0"></oc-label>
            <input type="password"  name="confirmPassword" class="form-control  col-md-12 pl-0"
            #confirmPassword="ngModel" 
            [(ngModel)]="confirmPasswordTxt"   
            ngDefaultControl
            required="required">
            <oc-error [control]="confirmPassword"> </oc-error>
        </div>
        <div class="col-md pl-0 pr-0">
            <oc-button type="primary" text="Save" style="float: right;" (click)='changePassword(changePasswordform)'></oc-button>
        </div>
    </form>
</div>