@import '~assets/styles/mixins';

.modal-body-buttons {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    oc-button {
        width: 100%;
    }

    @include media-breakpoint-sm() {
        padding: 0;
        flex-direction: column;
    }

    @include media-breakpoint-sm() {
        padding: 0;
        flex-direction: column;
    }
}
