@import '~assets/styles/mixins';

.navbar {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(201, 213, 234, 0.5);
}

.navbar .navbar-wrapper {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar-wrapper .navbar-toggler {
  border: none;
}

.navbar-wrapper .navbar-brand {
  display: flex;
  align-items: center;

  .company-logo {
    display: block;
    @include media-breakpoint-sm() {
      display: none;
    }

    &-mobile {
      display: none;
      @include media-breakpoint-sm() {
        display: block;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-item.active > .nav-link {
  opacity: 1;
  border-bottom: 3px solid #537cfd;
  padding-bottom: 30px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  opacity: 0.5;
}

.navbar-nav {
  margin-right: 80px;
}

.button-section {
  min-width: 190px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.dropdown .nav-link {
  opacity: 1;
  padding: 28px 0;
  margin: 0 32px;
  font-size: 14px;
  color: #333333;
  font-family: "Rubik-Medium";

  &:last-child {
    margin-right: 0;
  }
}

li.nav-item.dropdown:hover{
  .dropdown-menu{
    display: block;
  }
}

.profile {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
  padding: 8px 10px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #eeebff, #f8f7ff);
}

.dropdown-menu {
  top: 100%;
  right: 0;
  left: unset;
}

.dropdown-toggle[aria-expanded="true"]::after {
  content: url(/assets/img/select-up.svg);
  border: none;
}
.dropdown-toggle[aria-expanded="false"]::after {
  content: url(/assets/img/select-down.svg);
  border: none;
}

.header-btn {
  width: 87px;
  min-width: unset;
  height: 40px;
  min-height: unset;
  padding: 0;
  border-radius: 4px;
}
