@import '~@openchannel/angular-common-components/assets/styles/theme';
@import '~@openchannel/angular-common-components/assets/styles/mixins';
@import '~assets/styles/mixins';

.navbar {
    padding: 20px 0 70px;

    .container {

        .navbar-wrapper {
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

    &-brand {
        max-width: 160px;
        width: 100%;
        padding: 0;
        margin: 0;

        .company-logo {
            height: auto;
            width: 100%;
        }
    }
}

.separate-nav {
    margin-right: 8rem;
    display: flex;
    @include media-breakpoint-xl {
        margin-right: 3rem;
    }
    @include media-breakpoint-lg {
        flex-direction: column;
    }
}

.navbar-light .navbar-nav .nav-item.active > .nav-link {
    opacity: 1;
    border-bottom: 3px solid $primary;
    padding-bottom: 27px;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.dropdown .nav-link {
    opacity: 1;
    padding: 27px 18px 22px;
    font-size: 18px;
    font-weight: 600;
    color: #4c6470;
}

.header-btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #b4d625;
    border-color: #b4d625;
    color: #0b2416;
    border-radius: 30px;
    padding: 5px 21px;
    margin-left: 10px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 0 0 0 #b4d625, 0 0 0 rgb(0 0 0 / 0%);
    transition: box-shadow 1s cubic-bezier(0.23, 1, 0.32, 1);
    @include media-breakpoint-lg {
        width: 200px;
        height: 37px;
        margin-bottom: 16px;
    }

    &:hover {
        background-color: #b4d625;
        border-color: #b4d625;
        color: #fff;
        box-shadow: 0 0 0 3px #b4d625, 0 2px 24px rgb(0 0 0 / 35%);
    }
}

.btn-primary {

    &:hover {
        box-shadow: 1px 5px 30px 0 rgba($primary, 0.5);
    }
}

a:hover {
    text-decoration: none;
}

.collapse-none,
.collapse-items {
    display: none;
}

.rotate-img {

    svg {
        transform: rotate(180deg);
    }
}

.change-icon-color {

    .recolor-icon {
        fill: rgba(51, 51, 51, 0.5);
    }
}

.navbar-icon {

    img {
        display: block;
        width: 22px;
    }
}

@include media-breakpoint-lg() {

    .navbar {
        padding: 0 16px;

        .container {

            .navbar-wrapper {
                padding: 0;
            }
        }
    }

    .navbar-light .navbar-nav .nav-item.active > .nav-link {
        border-bottom: none;
        border-left: 3px solid $primary;
        padding-bottom: 10px;
        padding-left: 30px;
        margin: 8px 0;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-item.dropdown .nav-link {
        padding: 0;
        margin: 0 0 10px 0;
    }

    .auth-button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-lg {
            align-items: flex-start;
        }
    }

    .navbar-none {
        display: none;
    }

    .collapse-none {
        display: flex;
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapse-items {
        display: block;
    }
}
