<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/">
                <img [src]="cmsData.headerLogoURL" alt="brand-logo" class="company-logo">
            </a>
            <button
                class="navbar-toggler p-0"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <div class="navbar-icon cursor-pointer">
                    <img src="./assets/img/{{isCollapsed ? 'navbar-menu.png' : 'close-icon.png'}}" alt="">
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav justify-content-end w-100 mb-0">
                <div class="separate-nav">
                    <ng-container *ngFor="let link of cmsData.secondaryItemsDFA">
                        <li class="nav-item">
                            <a *ngIf="link.location && link.location.startsWith('http'); else routerLink"
                               [href]="link.location"
                               class="nav-link cursor-pointer">
                                {{ link.label }}
                            </a>
                            <ng-template #routerLink>
                                <a [routerLink]="link.location || ''"
                                   class="nav-link cursor-pointer">
                                    {{ link.label }}
                                </a>
                            </ng-template>
                        </li>
                    </ng-container>
                </div>
                <ng-container *ngFor="let headerItem of cmsData.headerItemsDFA">
                    <li class="nav-item">
                        <a *ngIf="headerItem.location && headerItem.location.startsWith('http'); else routerItem"
                           [href]="headerItem.location" class="nav-link cursor-pointer" target="_blank">
                            {{ headerItem.label }}
                        </a>
                        <ng-template #routerItem>
                            <a [routerLink]="headerItem.location || ''" (click)="closedMenu()" class="nav-link cursor-pointer">
                                {{ headerItem.label }}
                            </a>
                        </ng-template>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="logout()" *ngIf="authHolderService.isLoggedInUser()">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" routerLink="/login" *ngIf="!authHolderService.isLoggedInUser()">Login</a>
                </li>
            </ul>

            <div class="d-flex my-2 my-xl-0 ml-0 ml-lg-2 auth-button">
                <a class="btn header-btn" routerLink="/contact-us">Contact</a>
            </div>
        </div>
    </div>
</nav>
