@import "~oc-ng-common-component/assets/styles/styles.scss";
.bg-container {
  width: 100%;
  min-height: 100vh;
  background: url(assets/img/container-bg.svg) center center no-repeat;
  background-size: cover;
}
.bg-container.bg-s {
  min-height: 100%;
}
.container.container-s {
  width: 730px;
  margin: 0 auto;
}
.footer-divider{
  border-top: 1px solid $info;
}