// You can use mixins if you don't have access to apply class, but can override styles.
// For example, to override libs buttons styles.

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    user-select: none;
}

@mixin button_primary-type {
    background-color: $button-primary;
    color: $body-color;
}

.button {
    @include button;

    &_primary-type {
        @include button-primary-type;
    }
}
