@import "~@openchannel/angular-common-components/assets/styles/theme";

// MAIN COLORS
$link-gray: #333333;
$category-color-mix1: #ff0606;
$category-color-mix2: #ffffff;
$primary: #b4d625;
$body-color: #0B2416;
$container-color: #f7f7f7;

// BUTTONS
$button-primary: #b4d625;

// LINKS
$link-primary: #06492E;

// HEADINGS AND SIMPLE TEXT
$heading-color: #0B2416;
